*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #4338ca;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-container {
  width: 360px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.input-box {
  display: flex;
  gap: 8px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 2px solid #2563eb;
  border-radius: 6px;
  outline: none;
}

.input-box button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 0 14px;
  border-radius: 6px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}
